@import url('https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+KR:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sedan+SC&display=swap');

#Naveen{
        background-color: black;
        color: aqua;
        text-align: center;
        margin: 200px;
        padding: 77px 142px 67px 96px;
        border: 10px solid blue;
}

.Anuja{
    background-color: rgb(227, 246, 86);
        color: rgb(255, 0, 8);
        text-align: center;
}


body{
            background-image: url(/image/my.jpg);
            background-position: center;
            background-size: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
          
        }
        h1{
            font-family: "Sedan SC", serif;
            background-color: rgb(229, 255, 0); color: rgb(98, 14, 126); text-align: center;
        }

        p{
            font-family: "Sedan SC", serif;
            background-color: black; color: aqua; 
        }

        .box1{
            width: 100px;
            height: 100px;
            background-color: red;
            position: absolute;
            top: 0px;
            left: 0px;
            
        }

        .box2{
            width: 50px;
            height: 50px;
            background-color: rgb(55, 22, 188);
            position: sticky;
            top: 60px;
            left: 40px;
            z-index: -1;
        }